<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>@ViewData["Title"]</title>

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/styles.css" asp-append-version="true" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="~/js/setactive.js"></script>

</head>
<body>
    <header>
        <ul>
            <li>
                <a asp-controller="Home" asp-action="Index">Home</a>
            </li>
            <li>
                <a asp-controller="Categories" asp-action="Index" class="@(User.Identity.IsAuthenticated ? "" : "text-muted")">Categories</a>
            </li>
            <li>
                <a asp-controller="Transactions" asp-action="Index" class="@(User.Identity.IsAuthenticated ? "" : "text-muted")">Transactions</a>
            </li>
            <li>
                <a asp-controller="Reports" asp-action="Index" class="@(User.Identity.IsAuthenticated ? "" : "text-muted")">Reports</a>
            </li>

            @if (!User.Identity.IsAuthenticated)
            {
                <li style="float: right;">
                    <a asp-controller="Auth" asp-action="Register">Create a new account</a>
                </li>
            }
            else
            {
                <li style="float: right;">
                    <a onclick="logout()">Logout</a>
                </li>
            }
        </ul>
    </header>

    <div>
        <main>
            @RenderBody()
        </main>
    </div>

    <footer class="text-muted">
        <div class="text-center">
            &copy; 2024 - Personal Finance Manager
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/site.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
