@model IEnumerable<CategoryResponse>

@{
    ViewData["Title"] = "Categories";
}

<div class="page-content">

</div>
<h2>List of categories</h2>

<div>
    <input type="text" name="input" id="search-field" class="search-control" placeholder="Enter a name of category..."
           autocomplete="off" style="margin-right: 0.5rem"/>
    <button id="search-button" class="btn-custom">Search</button>
    <a class="btn btn-create" asp-action="Create">Create</a>
    <span class="text-muted" style="margin-left: 0.5rem;" id="message"></span>
</div>

<div>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Description)
                </th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody id="categories-body">
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id"><i class="fa-solid fa-pen"></i> </a> |
                        <a asp-action="Details" asp-route-id="@item.Id"><i class="fa-solid fa-circle-info"></i></a> |
                        <a asp-action="Delete" asp-route-id="@item.Id"><i class="fa-solid fa-trash"></i></a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <p>
        <span style="display:none" id="back-to-list">
            <a class="btn-custom">Back</a>
        </span>
    </p>
</div>

<input type="hidden" id="link" value="categories/search" />

<script src="~/js/categories.js"></script>
<script src="~/js/back-to-list.js"></script>
