@model TransactionResponse

@{
    ViewData["Title"] = "Details";
}

<div class="container" style="margin-top: 2rem;">
    <div class="crud-form">
        <div class="form-head">
            <h1>Details</h1>
            <i class="fa-solid fa-circle-info"></i>
        </div>

        <div class="details-section">
            <dl>
                <dt>
                    @Html.DisplayNameFor(model => model.Category)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Category)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.Type)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Type)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.Cost)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Cost)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.Date)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Date, "_DateDisplay")
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.Description)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Description)
                </dd>
            </dl>
            <div class="form-group btn-group">
                <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-primary">Edit</a>
                <a asp-action="Index" class="btn btn-custom">Back</a>
            </div>
        </div>
    </div>
</div>
