@model TransactionViewModel

@{
    ViewData["Title"] = "Transactions";
}

<h2>Transaction list:</h2>

<div class="row flex-nowrap">
    <div class="col-md-4">
        <div class="form-group">
            <div class="select-wrapper">
                @if (Model.CategoryNames.Any())
                {
                    <select class="form-control" id="category-selector" name="selectedCategory"
                            placeholder="Select Category" style="margin-right: 0.5rem">
                        <option value="" disabled selected hidden>Select Category</option>
                        @foreach (var category in Model.CategoryNames)
                        {
                            <option value="@category">@category</option>
                        }
                    </select>
                    <a class="btn btn-create" asp-action="Create">Create</a>

                }

                else

                {
                    <select class="form-control" disabled>
                        <option value="">No categories available</option>
                    </select>
                }
            </div>
        </div>
    </div>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Transactions.First().Category)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Transactions.First().Type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Transactions.First().Cost)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Transactions.First().Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Transactions.First().Description)
            </th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody id="transactions-body">
        @foreach (var item in Model.Transactions)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Category)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Type)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Cost)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Date, "_DateDisplay")
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id"><i class="fa-solid fa-pen"></i></a> |
                    <a asp-action="Details" asp-route-id="@item.Id"><i class="fa-solid fa-circle-info"></i></a> |
                    <a asp-action="Delete" asp-route-id="@item.Id"><i class="fa-solid fa-trash"></i></a>
                </td>
            </tr>
        }
    </tbody>
</table>
<p>
    <span style="display:none" id="back-to-list">
        <a class="btn-custom">Back</a>
    </span>
</p>

<input type="hidden" id="link" value="Transactions/filter-by/" />

<script src="js/transactions.js"></script>
<script src="js/back-to-list.js"></script>