@model TransactionViewModel

@{
    ViewData["Title"] = "Transactions";
}

<h2>Transaction list:</h2>

<div class="row flex-nowrap">
    <div class="col-md-4">
        <div class="form-group">
            <div class="select-wrapper">
                @if (Model.CategoryNames.Any())
                {
                    <select class="form-control" id="category-selector" name="selectedCategory" placeholder="Select Category">
                        <option value="" disabled selected hidden>Select Category</option>
                        @foreach (var category in Model.CategoryNames)
                        {
                            <option value="@category">@category</option>
                        }
                    </select>
                }
                else
                {
                    <select class="form-control" disabled>
                        <option value="">No categories available</option>
                    </select>
                }
                <span class="arrow-down">&#9660;</span>
            </div>
        </div>
    </div>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => typeof(TransactionResponse).GetProperty("Category"))
            </th>
            <th>
                @Html.DisplayNameFor(model => typeof(TransactionResponse).GetProperty("Type"))
            </th>
            <th>
                @Html.DisplayNameFor(model => typeof(TransactionResponse).GetProperty("Cost"))
            </th>
            <th>
                @Html.DisplayNameFor(model => typeof(TransactionResponse).GetProperty("Date"))
            </th>
            <th>
                @Html.DisplayNameFor(model => typeof(TransactionResponse).GetProperty("Description"))
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody id="transaction-body">
@foreach (var item in Model.Transactions) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Category)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cost)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date, "_DateDisplay")
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
<p>
    <a asp-action="Create" class="btn btn-success">Add New</a>
</p>

<script src="js/transactions.js"></script>